@reference "./tailwind.css";

.bordered {
	position: relative;
	display: inline-block;
	max-width: 100%;
	/*filter: v-bind("filterLink");*/

	/*// &::before {
  //     content: '';
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     right: 0;
  //     bottom: 0;
  //     /* border: 2px solid v-bind(borderColor); or your preferred border color
  //     width: 100%;
  //     height: 100%;
  //     z-index: 1;
  //     background: green;
  //     clip-path: v-bind('zigPath');
  // }*/

	.content {
		/*clip-path: v-bind("contentPath");*/
		text-align: center;
		display: inline-block;
		max-width: 100%;

		.content-inner {
			/*// max-width: 100%;*/
			max-width: max-content;
			isolation: isolate;
			filter: none;
		}
	}

	.borders {
		/*filter: v-bind("filterLink");*/
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;

		div {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: #222222;
			/*background: v-bind(borderColor);*/
			/*// border: 2px solid red;
    //   border-radius: 10px;
      // background: v-bind(borderColor);*/

			/*&.top {
        clip-path: polygon(v-bind("topPath"));
      }

      &.bottom {
        clip-path: polygon(v-bind("bottomPath"));
      }

      &.right {
        clip-path: polygon(v-bind("rightPath"));
      }

      &.left {
        clip-path: polygon(v-bind("leftPath"));
      }*/
		}
	}
}
