@reference "./tailwind.css";

.home-container {
	overflow-x: clip;
	overflow-y: visible;

	height: calc(640px * 0.916);

	.jesse {
		@apply flex justify-end w-full;
		/*// position: absolute;
    // top: 0;
    // left: 0;
    // z-index: 1;
    // background-image: url("/images/jesse-homepage.webp");
    // background-size: contain;
    // background-position: right;
    // height: 100%;*/

		.jesse-image {
			width: calc(100% - 580px);
			background-image: url("/_canopie/static/images/jesse-homepage.webp");
			background-size: cover;
			background-position: 30% center;
			height: 100%;
		}

		/*// max-height: 91.6%;*/
	}

	.banner-container {
		position: absolute;
		top: 0;
		left: 0;

		height: 640px;
		width: 640px;

		.banner {
			position: absolute;
			top: 0;
			left: 0;
			width: 130%;
			/*// height: 40%;*/
			aspect-ratio: 13 / 4;
			background-size: contain;
			background-repeat: no-repeat;
			z-index: 20;

			&.morning-star {
				background-image: url("/_canopie/static/images/morning-star-banner.webp");
				top: 2%;
				left: 35%;
				max-width: calc(100vw - 35%);
				clip-path: polygon(1.5% 34%, 0% 85%, 100% 40%, 96% 0%);
			}

			&.music-club {
				background-image: url("/_canopie/static/images/music-club-banner.webp");
				top: 51%;
				left: 4%;
				max-width: calc(100vw - 4%);
				clip-path: polygon(6.5% 30%, 5% 70%, 83% 80%, 84% 38%);
			}
		}
	}

	@media (max-width: 768px) {
		height: calc(448px * 0.916);

		.jesse {
			.jesse-image {
				width: calc(100% - 348px);
				background-position: 14% center;
			}
		}

		.banner-container {
			height: 448px;
			width: 448px;
		}
	}

	@media (max-width: 640px) {
		height: calc(100vw * 0.916);

		.jesse {
			display: none;
		}

		.banner-container {
			height: 100vw;
			width: 100vw;
			.banner {
				width: 100%;

				&.morning-star {
					width: 95%;
					top: 7%;
					left: 3%;
					max-width: calc(100vw - 3%);
				}

				&.music-club {
					top: 57%;
					left: 11%;
					max-width: calc(100vw - 11%);
				}
			}
		}
	}
}

main {
	section {
		background-image: url("/_canopie/static/images/mats/mat1.webp");
		background-position-x: right;
		background-size: cover;
		position: relative;
		width: 100%;
		@apply p-4;

		&#home {
			display: none;
		}
	}
}

.page-title {
	background-repeat: no-repeat;
	background-size: contain;
	position: relative;
	transform-origin: center;
}

.section-band {
}

.section-vids {
	.page-title {
		background-image: url("/_canopie/static/images/titles/vids.webp");
		height: 80px;
		width: 280px;
	}
}

.section-music {
	.page-title {
		background-image: url("/_canopie/static/images/titles/music.webp");
		height: 100px;
		transform: rotate(15deg) translateY(30px);
		transform-origin: center top;
		width: 280px;
	}
}

.youtube-icon {
	background-color: transparent;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 68 48"><path d="M66.52 7.74c-.78-2.93-2.49-5.41-5.42-6.19C55.79.13 34 0 34 0S12.21.13 6.9 1.55c-2.93.78-4.63 3.26-5.42 6.19C.06 13.05 0 24 0 24s.06 10.95 1.48 16.26c.78 2.93 2.49 5.41 5.42 6.19C12.21 47.87 34 48 34 48s21.79-.13 27.1-1.55c2.93-.78 4.64-3.26 5.42-6.19C67.94 34.95 68 24 68 24s-.06-10.95-1.48-16.26z" fill="red"/><path d="M45 24 27 14v20" fill="white"/></svg>');
	border: none;
	cursor: pointer;
	display: block;
	/*filter: grayscale(100%);*/
	height: 48px;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate3d(-50%, -50%, 0);
	transition: filter 0.2s cubic-bezier(0, 0, 0.2, 1);
	width: 68px;
	z-index: 1;
}

.section-vids {
	.video-container {
		@apply flex max-w-[900px] m-auto mb-8;
		&:nth-of-type(odd) {
			@apply justify-end;
		}
	}
}

@import "./menu.css";
@import "./page-band";
