/* Morningstar theme */

.deco.cd {
	position: relative;
	max-width: 557px;
	width: 100%;
	aspect-ratio: 557 / 491;

	.cd-front {
		position: absolute;
		z-index: 1;
		left: 12%;
		top: 2%;
		width: 84%;
		height: 95%;
		background-size: cover;
		background-position: center;
	}

	.cd-case {
		position: absolute;
		z-index: 2;
		width: 100%;
		height: 100%;
		background-image: url("/_canopie/static/images/theme/morningstar/cd-case.webp");
		background-size: cover;
		background-position: center;
	}
}
